@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
  background: linear-gradient(110deg, #69b7eb, #b3dbd3, #c6baff);
  font-size: 17px;
  font-family: Audiowide, sans-serif;
  height: 100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',s
    monospace;
}
